<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Simple Example of PaaS</title>


<style>


body {
  color: #404040;
  font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

span
  {
    bacground-color:blue;
  }
  
  
hgroup {
  margin-top: 50px;
}

</style>

</head>
<body>

<section class='container'>
          <hgroup>
            <h1>Welcome <span> Master 3I  </span>to your Node.js application on OpenShift</h1>
          </hgroup>

</section>
</body>
</html>
